<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #signForm{
                text-align: center;
                position: relative;
                top: 10%;
                background-color: aquamarine;
                width: 400px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div id="signForm">
            <form name="signForm" method="get">
            <label for="signName">Name:</label>
            <br>
            <input type="text" name="signName" id="signName" ng-model="signName"/>
            <br>
            <label for="signPassword">Password:</label>
            <br>
            <input type="text" name="signPassword" id="signPassword" ng-model="signPassword"/>
            <br>
            <br>
            <button ng-click="submitSignIn()">SignIn</button>
            </form>
        </div>
    </body>
</html>
