#header_div{
    display: table-cell;
    vertical-align: middle;
    width: 700px;
    height: 50px;
    background-color: activecaption;
}
#left_side_div{
    display: block;
    float: left;
    width: 100px;
    height: 700px;
    background-color: yellowgreen;
}
#central_div{
    position: relative;
    display: inline-block;
    width: 600px;
    height: 700px;
    background-color: tomato;
}

#signInBtn, #logInBtn{
    float: right;
    margin-right: 10px;
}

